/* NavBar.css */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000; /* Change the background color as needed */
  padding: 20px;
  color: #fff; /* Change text color as needed */
}
.logo {
  font-size: 24px; /* Adjust font size as needed */
  font-weight: bold; /* Adjust font weight as needed */
}

.nav-links {
  display: flex;
  list-style-type: none;
}

.nav-links li {
  margin-right: 20px; /* Adjust spacing between links as needed */
}

.nav-links li a {
  color: #fff; /* Change link color as needed */
  text-decoration: none;
}

.nav-links li a:hover {
  color: #ccc; /* Change link color on hover as needed */
}
