/* NavBar.css */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000; /* Change the background color as needed */
  padding: 20px;
  color: #fff; /* Change text color as needed */
}
.logo {
.logo img {
  width: 100px; /* Set the desired width */
  height: auto; /* Maintain aspect ratio */
}
}

.nav-links {
  display: flex;
  list-style-type: none;
}

.nav-links li {
  margin-right: 20px; /* Adjust spacing between links as needed */
}

.nav-links li a {
  color: #fff; /* Change link color as needed */
  text-decoration: none;
}

.nav-links li a:hover {
  color: #ccc; /* Change link color on hover as needed */
}

p {
  color: #fff; /* Change text color as needed */
}

.greeting-card {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
}

.GreetingP {
  color: #000;
  font-size: large;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.Education {
  color: #fff;
  font-size: large;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
